### [행/열 삭제]
- Series/DataFrame에서 행/열 기준으로 데이터 삭제
- 메서드 : drop(index, columns, ..., inplace=False)
    * 행방향 삭제 => labels, axis=0 또는 index 매개변수 사용
    * 열방향 삭제 => labels, axis=1 또는 columns 매개변수 사용
    * 원본 변경 여부 => inplace 매개변수 사용
    * 반환값 => None 또는 DataFrame/Series

[Series의 행 삭제] <hr>

In [1]:
## 모듈 로딩
import pandas as pd

In [2]:
## 임의의 데이터
data_dict = {'a': 10, 'b': 9, 'c': 22, 'd': 33, 'e': 11, 'f': 78}

## 시리즈 인스턴스 생성
dataSR = pd.Series(data_dict)

## 출력
print(dataSR)
print(dataSR.index)

a    10
b     9
c    22
d    33
e    11
f    78
dtype: int64
Index(['a', 'b', 'c', 'd', 'e', 'f'], dtype='object')

In [3]:
## -----------------------------------------------------
## 데이터 삭제
## -----------------------------------------------------
## [labels, axis 매개변수] 삭제 인덱스 설정
dataSR1 = dataSR.drop(['a', 'c'], axis=0)        ## 원본 데이터 유지
display(dataSR1, dataSR)

## [labels, axis 매개변수] 삭제 인덱스 설정
dataSR.drop(['a', 'c'], axis=0, inplace=True)    ## 원본 데이터 삭제
display(dataSR1, dataSR)

b     9
d    33
e    11
f    78
dtype: int64

a    10
b     9
c    22
d    33
e    11
f    78
dtype: int64

b     9
d    33
e    11
f    78
dtype: int64

b     9
d    33
e    11
f    78
dtype: int64

In [5]:
## [index 매개변수] 삭제 인덱스 설정
dataSR1 = dataSR.drop(index=['b', 'e'])        ## 원본 데이터 유지
display(dataSR1, dataSR)

##
dataSR.drop(index=['b', 'e'], inplace=True)    ## 원본 데이터 삭제
display(dataSR1, dataSR)

d    33
f    78
dtype: int64

b     9
d    33
e    11
f    78
dtype: int64

d    33
f    78
dtype: int64

d    33
f    78
dtype: int64

In [6]:
## 데이터
data_dict = {'번호': [1, 5, 9], 
             '이름': ['홍', '마', '베']}

## 데이터 프레임 생성 key => 컬럼명 => Value => 세로로
dataDF = pd.DataFrame(data_dict)

## 출력
display(dataDF, dataDF.columns, dataDF.index)

   번호 이름
0   1  홍
1   5  마
2   9  베

Index(['번호', '이름'], dtype='object')

RangeIndex(start=0, stop=3, step=1)

In [ ]:
## -----------------------------------------------------
## 행 방향 데이터 삭제
## -----------------------------------------------------
dataDF1 = dataDF.drop([1], axis=0)
display(dataDF1)
display(dataDF)

print("=" * 40)

dataDF1 = dataDF.drop(index=[1])          ## 기본값이 inplace=False이므로 원본 데이터는 유지된다.
display(dataDF1)
display(dataDF)

   번호 이름
0   1  홍
2   9  베

   번호 이름
0   1  홍
1   5  마
2   9  베

========================================

   번호 이름
0   1  홍
2   9  베

   번호 이름
0   1  홍
1   5  마
2   9  베

In [ ]:
## -----------------------------------------------------
## 열 방향 데이터 삭제
## -----------------------------------------------------
dataDF1 = dataDF.drop(['번호'], axis='columns')  ## axis에 1 또는 columns가 온다.
display(dataDF1)
display(dataDF)

print("=" * 40)

dataDF1 = dataDF.drop(columns=['번호'])          ## 기본값이 inplace=False이므로 원본 데이터는 유지된다.
display(dataDF1)
display(dataDF)

  이름
0  홍
1  마
2  베

   번호 이름
0   1  홍
1   5  마
2   9  베

========================================

  이름
0  홍
1  마
2  베

   번호 이름
0   1  홍
1   5  마
2   9  베