### [중복 데이터 체크 및 처리]
- 중복 데이터 여부 검사: DF.duplicated()    => True/False
- 중복 데이터 삭제 처리: DF.drop_duplicates()

In [2]:
 ## 모듈로딩
import pandas as pd 
## 데이터준비
df= pd.DataFrame({ 'brand'    : ['Yum', 'Yum', 'Indo', 'Indo', 'Indo'],
                    'style'   : ['cup', 'cup', 'cup', 'pack', 'pack'],
                    'rating'  : [4, 4, 3.5, 15, 5] })

display(df)

  brand style  rating
0   Yum   cup     4.0
1   Yum   cup     4.0
2  Indo   cup     3.5
3  Indo  pack    15.0
4  Indo  pack     5.0

In [6]:
## 중복체크
display(df.duplicated())

result = df.duplicated().sum()      ## True인 1값을 모두 더함
print(f'중복데이터/행: {result}개')

0    False
1     True
2    False
3    False
4    False
dtype: bool

중복데이터/행: 1개

In [ ]:
## 중복체크
## - keep의 디폴트 매개변수: 'first' 첫 번째로 나오는 값 유지(keep), 나머지 중복
result = df.duplicated()

In [ ]:
## 중복체크
## - keep last: 마지막 값 유지
result = df.duplicated(keep="last")
result

0     True
1    False
2    False
3    False
4    False
dtype: bool

In [11]:
## 중복체크
## - keep=False 중복인 값 모두 삭제
result = df.duplicated(keep=False)
result

0     True
1     True
2    False
3    False
4    False
dtype: bool

In [13]:
## 중복체크 - subset 매개 변수: 중복 검사 컬럼 설정
# brand 컬럼만 중복인 행
result = df.duplicated(subset='brand')
result

0    False
1     True
2    False
3     True
4     True
dtype: bool

In [14]:
result = df.duplicated(subset=['brand', 'style'])
result

0    False
1     True
2    False
3    False
4     True
dtype: bool

In [17]:
## 중복 데이터 삭제 - 모든 속성값이 동일한 행 비교
df.drop_duplicates()

  brand style  rating
0   Yum   cup     4.0
2  Indo   cup     3.5
3  Indo  pack    15.0
4  Indo  pack     5.0

In [18]:
## 중복 데이터 삭제 - 모든 속성값이 동일한 행 비교
df.drop_duplicates(keep='last')     # 마지막 값을 keep

  brand style  rating
1   Yum   cup     4.0
2  Indo   cup     3.5
3  Indo  pack    15.0
4  Indo  pack     5.0

In [21]:
df.drop_duplicates(keep=False)     # 중복 값은 keep하지 않겠다

  brand style  rating
2  Indo   cup     3.5
3  Indo  pack    15.0
4  Indo  pack     5.0

In [ ]:
df.drop_duplicates(subset='brand')      # brand 컬럼의 동일한 행 비교 후 삭제

  brand style  rating
0   Yum   cup     4.0
2  Indo   cup     3.5

In [24]:
df.drop_duplicates(subset=['brand', 'style'], keep=False)

  brand style  rating
2  Indo   cup     3.5